* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
}

h1 {
    font-family: 'Crete Round';
    font-size: 40px;
    color: #444;
}

h2 {
    float: center;
    margin: 100 100;
 
}

h3 {
    font-size: 30px;
    color: #444;
}

h4 {
font-size: 24px;
color: #444;
}

h5 {
    float: left;
    margin-left: 8px;
    margin-top: 17px;
}

p {
    line-height: 20px;
    color: #777777;
}

ul  {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.bleu {
    color: rgb(226, 111, 66);
}



header {
    height: 70px;
    background-color: #efefef;
}

header h1 {
    float: left;
    margin-top: 10px;
}

header nav {
    float: right;
    margin-top: 30px;
}

header nav ul li {
    float: left;
    display: inline-block;
    
}

header nav ul li a {
    text-transform: uppercase;
    font-weight:bold ;
    margin-right: 20px;
}























